<div class="section jumbo">
	<div class="row container">
		<div class="col s12 m6 offset-m3 main center-align">
			<h1>Welcome</h1>
			<h4>Web Apps and Designs for you.</h4>
			<p>No matter the size of the device</p>
		</div>
	</div>
</div>
