/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= requre jquery-ui
 */
@import "materialize";
@import "font-awesome-sprockets";
@import "font-awesome";


$font-stack: 'Noto Sans', sans-serif; 

h1,h2,h3,h4,h5,h6,p {
	font-family: $font-stack;

}

body{
	background-color: #763A55;
}

#nav-drop{
	margin-right:10px;
}
.dropdown-content{
	width: auto !important;
}
.nav-wrapper{
	color:#F0F0F0;
	box-shadow: 5px 5px 3px #936C7E;
}
.nav-logo{
	margin-left: 40px;
	margin-top: 4px;
}
.footer-links li{
	display:inline-block;
	margin-right: 10px;
}
.footer-logo{
	margin-top: 7px;
}
.main{
	color: white;
	margin-top: 150px;
}
.main h1{
	font-size: 6em;
	font-family: 'Lobster', sans-serif;
	text-shadow: 2px 2px 1px #936C7E;
}
.main p, h4{
	text-shadow: 2px 2px 1px #936C7E;
}

.footer{
	margin-top: 15px;
}

.support1{
	display: block;
	height: 500px;
	width: 100%;
}
.jumbo{
	height: 800px;
	width: 100%;	
	background: url("/assets/parallaxv4.png") fixed no-repeat center center;
	background-size: cover;
	display:block;

}
.black600 { 
	color: #000000; 
}

